.gallery-section {
    padding: 100px 15px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.gallery-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
    justify-content: center;
    margin: 0 auto 60px;
    gap: 15px;
}

.gallery-box img {
    width: 360px;
    height: 360px;
    border: 1px solid #C0AD9A;
    cursor: pointer;
    transition: 0.25s;
}

.gallery-box img:hover {
    transform: scale(1.3);
}

@media (min-width: 360px) {
    .gallery-box {
        grid-template-columns: repeat(auto-fill, 330px);
    }

    .gallery-box img {
        width: 330px;
        height: 330px;
    }
}

@media (min-width: 768px) {
    .gallery-box {
        grid-template-columns: repeat(auto-fill, 360px);
    }

    .gallery-box img {
        width: 360px;
        height: 360px;
    }
}